ul {
  list-style-type: none;
}

body {
  font-family: 'Roboto Slab', serif;

}

.title {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.second_line {
  font-size: 1.5em;
  font-style: italic;
  color: gray;
}
